<html>
    <body>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            <%for(i = 0; i < products.length; i++) {%>
            <tr>
                <td><%=products[i].id%></td>
                <td><%=products[i].title%></td>
                <td><%=products[i].description%></td>
                <td><%=products[i].price%></td>
            </tr>
            <%}%>
        </table>
    </body>
</html>